.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    text-align: center;
  }
  
  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-button:hover {
    background: #0056b3;
  }
  .HomeScreen{
    display: none;
  }