.modalSize{
    max-width: 800px;
    
}
.tile-modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it appears above other elements */
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
